[access "refs/heads/*"]
	create = group LG v4xx
	create = group invisiblek
	push = group LG v4xx
	push = +force group invisiblek
	label-Code-Review = -2..+2 group LG v4xx
	label-Code-Review = -2..+2 group invisiblek
	label-Verified = -1..+1 group LG v4xx
	label-Verified = -1..+1 group invisiblek
	submit = group LG v4xx
	submit = group invisiblek
	forgeAuthor = group LG v4xx
	forgeAuthor = group invisiblek
	forgeCommitter = group LG v4xx
	forgeCommitter = group invisiblek
